body {
    margin: 0;
    background-color: rgb(178, 221, 247);
}

.flex-container {
    display: flex;
    align-items: center;
}

.info {
    padding-top: 2rem;
    text-align: center;
    float: right;
}

#container {
    display: grid;
    justify-content: center;
    flex: 1;
}

#grid-size {
    font-size: 16px;
}



.btn {
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
}

.square {
    background: white;
    outline: 1px solid black;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: 0;
    cursor: pointer;
    float: left;
}

.black {
    background-color: black;
}

.row {
    display: block;
    width: 100%;
}

h1 {
    text-align: center;
}